<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!--
	작성자 : 
	작성일 : 
	account에서 사용하는 mapper
-->
  
  
  <mapper namespace="com.spring.Creamy_CRM.Host_dao.AccountDAO">
  	<!-- 작성자 : 주수림, 작성일 : 2021-09-26, 매입매출전표 목록, 등록 mapper -->
  	<!-- 매입매출 전표 목록 -->
  	<select id="getSlipList" parameterType="String" resultType="com.spring.Creamy_CRM.VO.AccountVO">
  		SELECT * FROM slip_tbl 
  		 WHERE host_code = #{host_code}
  		   AND slip_type IN ('복리후생비', '수수료비용', '소모품비')
  		ORDER BY slip_regDate DESC
  	</select>
  	
  	<!-- 매입매출 전표 등록 -->	
  	<insert id="insertSlip" parameterType="com.spring.Creamy_CRM.VO.AccountVO">
  		INSERT INTO slip_tbl (slip_code, host_code, slip_type, slip_regDate, slip_money, slip_memo)
  		VALUES ('SLIP'||slip_seq.nextval, #{host_code}, #{slip_type}, #{slip_regDate}, #{slip_money}, #{slip_memo})
  	</insert>
  	
  	<!-- 선택된 유형의 매출전표 조회 -->
  	<select id="getSelectList" parameterType="java.util.Map" resultType="com.spring.Creamy_CRM.VO.AccountVO">
  		SELECT *
  		  FROM slip_tbl
  		 WHERE host_code = #{host_code}
  		   AND slip_type = #{slip_type}
  		ORDER BY slip_regdate DESC
  	</select>
  	
  	<!-- 검색어에 따른 매출전표 조회 -->
  	<select id="getSearchList" parameterType="String" resultType="com.spring.Creamy_CRM.VO.AccountVO">
  		SELECT *
  		  FROM slip_tbl
  		 WHERE host_code = #{host_code}
  		   AND slip_type IN ('복리후생비', '수수료비용', '소모품비')
  		   AND slip_memo LIKE '%'||#{search}||'%'
  		ORDER BY slip_regdate DESC
  	</select>
  	
  	<!-- 매입매출 전표 수정 정보 조회 -->
  	<select id="getSlipInfo" parameterType="String" resultType="com.spring.Creamy_CRM.VO.AccountVO">
  		SELECT * 
  		  FROM slip_tbl 
  		 WHERE slip_code = #{slip_code}
  	</select>
  	
  	<!-- 매입매출 전표 수정 -->
  	<update id="updateSlip" parameterType="com.spring.Creamy_CRM.VO.AccountVO">
  		UPDATE slip_tbl
  		   SET slip_type = #{slip_type}, slip_regDate = #{slip_regDate}, 
  		   					slip_money = #{slip_money}, slip_memo = #{slip_memo}
  		 WHERE slip_code = #{slip_code}
  	</update>
  	
  	<!-- 매입매출 전표 삭제 -->
  	<delete id="deleteSlip" parameterType="String">
  		DELETE FROM slip_tbl
  		 WHERE slip_code = #{slip_code}
  	</delete>
  	
  	<!-- 영업외 손익 목록 조회 -->
  	<select id="getNOLlist" parameterType="String" resultType="com.spring.Creamy_CRM.VO.AccountVO">
  		SELECT *
  		  FROM slip_tbl
  		 WHERE host_code = #{host_code}
  		   AND slip_type IN ('비용', '수익', '법인세등')
  		 ORDER BY slip_regDate DESC
  	</select>
  	
  	<!-- 선택된 유형의 영업외손익 조회 -->
  	<select id="getNOLselectList" parameterType="java.util.Map" resultType="com.spring.Creamy_CRM.VO.AccountVO">
  		SELECT *
  		  FROM slip_tbl
  		 WHERE host_code = #{host_code}
  		   AND slip_type = #{slip_type}
  		ORDER BY slip_regDate DESC
  	</select>
  	
  	<!-- 검색어에 따른 영업외손익 조회 -->
  	<select id="getNOLsearchList" parameterType="java.util.Map" resultType="com.spring.Creamy_CRM.VO.AccountVO">
  		SELECT *
  		  FROM slip_tbl
  		 WHERE host_code = #{host_code}
  		   AND slip_type IN ('비용', '수익', '법인세등')
  		   AND slip_memo LIKE '%'||#{search}||'%'
  		 ORDER BY slip_regDate DESC
  	</select>
  	
  	<!-- 손익계산서 조회 -->
  	<select id="getIncome_statement" parameterType="java.util.Map" resultType="com.spring.Creamy_CRM.VO.IncomeStatementVO">
  		SELECT *
  		  FROM income_statement
  		 WHERE host_code = #{host_code}
  		   AND TO_CHAR(is_reg_date, 'YYYY-MM') = '2021-10'
  	</select>
  	
  	<!-- 상품(서비스) 총 매출액 -->
  	<select id="getRevenue" parameterType="java.util.Map" resultType="int">
  		SELECT SUM(total_payment)
  		  FROM sale_tbl s, employee_tbl e
 		 WHERE e.host_code = #{host_code}
   		   AND s.employee_code = e.employee_code
   		   AND TO_CHAR(s.sale_date, 'YYYY-MM') = '2021-09'
  	</select>
  	
  	<!-- 1. 기말 재고액 조회(결산시 기초재고액으로 들어간다) -->
  	<select id="getEndingInven" parameterType="java.util.Map" resultType="com.spring.Creamy_CRM.VO.EndingInventoryVO">
  		SELECT *
  		  FROM ending_inventory
  		 WHERE host_code = #{host_code}
  		   AND TO_CHAR(ending_inven_date, 'YYYY-MM') = '2021-08'
  	</select>
  	
  	<!-- 2. 당기 매입액 조회 -->
  	<select id="getStockTotal" parameterType="java.util.Map" resultType="com.spring.Creamy_CRM.VO.CostofSalesVO">
  		SELECT SUM(cntTotal) as pullingCnt, SUM(indiTotal) as pullingPrice
		  FROM (SELECT SUM(sd.stock_pur_cnt) as cntTotal, SUM(sd.stock_pur_cnt * sd.stock_pur_price) as indiTotal
          	  	  FROM stock_detail_tbl sd, stock_tbl s, trade_tbl t
     			 WHERE t.host_code = #{host_code}
         		   AND t.trade_code = s.trade_code
           		   AND s.stock_code = sd.stock_code
         		   AND TO_CHAR(stock_indate, 'YYYY-MM') = '2021-09'
    			GROUP BY sd.stock_code)
  	</select>
  	
  	<!-- 3. 기말 재고액을 위한 재고실사의 총 수량 조회 -->
  	<select id="TotalInvenCnt" parameterType="java.util.Map" resultType="int">
  		SELECT SUM(p.indiv_inven_cnt)
 		  FROM periodic_inventory p, stock_tbl s, trade_tbl t, host_tbl h
 		 WHERE h.host_code = #{host_code}
 		   AND t.trade_code = s.trade_code
 		   AND s.stock_code = p.stock_code
  		   AND TO_CHAR(p.inven_date, 'YYYY-MM') = '2021-09'
  	</select>
  	
  	<!-- 직원 지급 급여 총 금액 조회 -->
  	<select id="getTotalSalary" parameterType="java.util.Map" resultType="int">
  		SELECT SUM(s.salary)
  		  FROM salary_tbl s, employee_tbl e
  		 WHERE e.host_code = #{host_code}
  		   AND e.employee_code = s.employee_code 
  		   AND TO_CHAR(s.salary_payDate, 'YYYY-MM') = '2021-10'
  	</select>
  	
  	<!-- 매입매출전표에서 복리후생비, 소모품비, 수수료비용 합계 -->
  	<select id="sumSGA_expenses" parameterType="java.util.Map" resultType="int">
  		SELECT SUM(slip_money)
          FROM (SELECT *
                  FROM slip_tbl
                 WHERE host_code = #{host_code}
                   AND slip_type IN ('복리후생비', '수수료비용', '소모품비')
                   AND TO_CHAR(slip_regDate, 'YYYY-MM') = '2021-09'
                )
        GROUP BY slip_type
        ORDER BY slip_type ASC
  	</select>
  	
  	<!-- 매입매출전표에서 법인세등, 비용, 수익 합계 -->
  	<select id="sumNonOperatingLoss" parameterType="java.util.Map" resultType="int">
  		SELECT SUM(slip_money)
  		  FROM (SELECT *
  		  		  FROM slip_tbl
  		  		 WHERE host_code = #{host_code}
  		  		   AND slip_type IN ('비용', '수익', '법인세등')
  		  		   AND TO_CHAR(slip_regDate, 'YYYY-MM') = '2021-09'
  		  		)
  		  GROUP BY slip_type
  		  ORDER BY slip_type ASC
  	</select>
  	
  	<!-- 손익계산서 등록 처리 -->
  	<insert id="InsertIncomeStatement" parameterType="com.spring.Creamy_CRM.VO.IncomeStatementVO">
  		INSERT INTO income_statement (income_state_code, host_code, is_reg_date, revenue, cost_of_goods_sold, openning_inventory, purchaes, ending_inventory, gross_profit,
  						operating_expensews, labour_cost, utilies, employee_beneifts, commission, operating_income, non_operating_profit_loss, non_operating_income, non_operating_expenses,
  						income_before_taxes, income_taxes, net_income)
  			VALUES ('IS'||income_statement_seq.nextval, #{host_code}, sysdate, #{revenue}, #{cost_of_goods_sold}, #{openning_inventory}, #{purchaes}, #{ending_inventory}, #{gross_profit},
  					#{operating_expensews}, #{labour_cost}, #{utilies}, #{employee_beneifts}, #{commission}, #{operating_income}, #{non_operating_profit_loss}, #{non_operating_income},
  					#{non_operating_expenses}, #{income_before_taxes}, #{income_taxes}, #{net_income})
  	</insert>
  	
  	<!-- 기말재고테이블 등록 처리 -->
  	<insert id="insertEndingInventory" parameterType="com.spring.Creamy_CRM.VO.EndingInventoryVO">
  		INSERT INTO ending_inventory (ending_inven_code, host_code, ending_inven_date, inven_price, inven_cnt)
  			VALUES('EI'||ending_inven_seq.nextval, #{host_code}, sysdate, #{inven_price}, #{inven_cnt})
  	</insert>
  
  </mapper>