<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.spring.Creamy_CRM.android_DAO.Android_LoginDAO">

	<select id="getPw" parameterType="String" resultType="String">
		select password from Auth_tbl where ID = #{id}
	</select>
	
	<select id="getAuth" parameterType="String" resultType="String">
		select authority from Auth_tbl where ID = #{id}
	</select>
	
	<select id="getUserInfo" parameterType="String" resultType="com.spring.Creamy_CRM.VO.userVO">
		select * from user_tbl where user_id = #{id}
	</select>
	
	<select id="getHostInfo" parameterType="String" resultType="com.spring.Creamy_CRM.VO.HostVO">
		select * from host_tbl where host_id = #{id}
	</select>
	
	<select id="getEmployeeVO" parameterType="String" resultType="com.spring.Creamy_CRM.VO.EmployeeVO">
		select * from employee_tbl where employee_id = #{id}
	</select>
	
	<select id="getCode" parameterType="String" resultType="String">
		SELECT host_code
		  FROM host_tbl
		 WHERE host_id = #{host_id}
	</select>
	
	<!-- 손익계산서 조회 -->
  	<select id="getSettlement" parameterType="java.util.Map" resultType="com.spring.Creamy_CRM.VO.IncomeStatementVO">
  		SELECT *
  		  FROM income_statement
  		 WHERE host_code = #{host_code}
  		   AND TO_CHAR(is_reg_date, 'YYYY-MM') = '2021-10'
  	</select>
  	

  	<!-- 비밀번호 업데이트 -->
  	<update id="updatePW" parameterType="java.util.Map">
  		UPDATE Auth_tbl
  		   SET password = #{pw}
  		 WHERE ID = #{id}
  	</update>
  	
  	<!-- host_code를 이용한 comp_res 가져오기 -->
  	<select id="getCompRes" parameterType="String" resultType="String">
		SELECT comp_res
		  FROM company_tbl
		 WHERE host_code = #{host_code}
	</select>
	<!-- 관리자페이지 예약목록 조회 -->
	<!-- 담당자 예약 조회 -->
  	<select id="getManagerResList" parameterType="java.util.Map" resultType="com.spring.Creamy_CRM.VO.ReservationVO">
        SELECT *
          FROM reservation_tbl r, company_tbl c
         WHERE r.host_code = c.host_code
           AND c.host_code = #{host_code}
	  ORDER BY r.res_code DESC, r.res_date DESC
    </select>
    <!-- 호실 예약 조회 -->
    <select id="getRoomResList" parameterType="java.util.Map" resultType="com.spring.Creamy_CRM.VO.ReservationVO">
        SELECT *
          FROM reservation_tbl r, company_tbl c, room_setting_tbl rst, reservation_detail_tbl rdt
         WHERE rst.room_setting_code = r.room_setting_code
           AND rdt.res_detail_code = r.res_detail_code
           AND c.host_code = r.host_code
           AND r.host_code = #{host_code}
	  ORDER BY r.res_code DESC, r.res_date DESC
    </select>

	

</mapper>