<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!--
	작성자 : 정지은
	작성일 : 2021.09.15
	logindao에서 사용하는 mapper
-->
  
  
  <mapper namespace="com.spring.Creamy_CRM.Host_dao.loginDAO">
  
  	<select id="selectUser" parameterType="String" resultType="java.util.Map">
  		SELECT id,password,key,authority,enabled,login_chk
  		FROM Auth_tbl
  		WHERE id = #{id}
  	</select>
  	
  	<insert id="insertAuth" parameterType="java.util.Map">
  		insert into Auth_tbl(id,password,key,authority,enabled)
  		values(#{id}, #{pw}, '-', #{Auth}, 1)
  	</insert>
  	
  	<select id="confirmIdPwd" parameterType="java.util.Map"  resultType="Int">
  		SELECT COUNT(*) FROM Auth_tbl
  		WHERE id = #{id} AND password = #{pwd}
  	</select>
  	
  	<select id="getZipcodeCount" parameterType="java.util.Map" resultType="Integer">
  		SELECT COUNT(*) FROM zipcode_tbl WHERE zipcode = #{zipcode}
  	</select>
  	
  	<insert id="insertZipcode" parameterType="java.util.Map">
  		INSERT INTO zipcode_tbl(zipcode, sido, gugun)
		VALUES (#{zipcode}, #{sido}, #{gugun})
  	</insert>
  	
  	<insert id="insertUserinfo" parameterType="com.spring.Creamy_CRM.VO.userVO">
  		INSERT INTO user_tbl(user_code, user_password, user_name, user_birth, user_age, user_email, zipcode, user_address, user_ph, join_date, user_id , user_gender)
		VALUES ('U'||user_seq.NEXTVAL, #{user_password}, #{user_name}, #{user_birth}, #{user_age}, #{user_email}, #{zipcode}, #{user_address}, #{user_ph}, sysdate, #{user_id}, #{user_gender})
  	</insert>
  	
  	<select id="getUserInfo" parameterType="String" resultType="com.spring.Creamy_CRM.VO.userVO">
  		SELECT * FROM user_tbl
  		WHERE user_id = #{id}
  	</select>
  	
  	<select id="getHostInfo" parameterType="String" resultType="com.spring.Creamy_CRM.VO.HostVO">
  		SELECT * FROM host_tbl
  		WHERE host_id = #{id}
  	</select>
  	
  	<select id="selectzipcode" parameterType="String" resultType="com.spring.Creamy_CRM.VO.ZipcodeVO">
  		SELECT * FROM zipcode_tbl
  		WHERE zipcode = #{zipcode}
  	</select>
  	
  	<update id="modifyPw" parameterType="java.util.Map">
  		UPDATE Auth_tbl SET password = #{pw}
  		WHERE id = #{id}
  	</update>
  	
  	<update id="updateUserInfo" parameterType="com.spring.Creamy_CRM.VO.userVO">
  		UPDATE user_tbl SET
  		 user_password = #{user_password},
  		 user_name = #{user_name},
  		 user_age = #{user_age},
  		 user_birth = #{user_birth},
  		 user_email = #{user_email},
  		 user_gender = #{user_gender},
  		 user_memo = #{user_memo},
  		 user_ph = #{user_ph},
  		 zipcode = #{zipcode},
  		 user_address = #{user_address}
  		WHERE user_id = #{user_id}
  	</update>
  	
  	<insert id="insertHost" parameterType="com.spring.Creamy_CRM.VO.HostVO">
  		INSERT INTO host_tbl(host_code,host_id,host_pw,host_email,host_name,comp_name,host_ph)
  		VALUES('U'||host_seq.NEXTVAL,#{host_id},#{host_pw},#{host_email},#{host_name},#{comp_name},#{host_ph})
  	</insert>
  	
  	<select id="DupIdcheck" parameterType="String" resultType="Integer">
  		select COUNT(*) from Auth_tbl where id = #{id}
  	</select>
  	
  
  </mapper>