<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!--
	작성자 : 이시현
	작성일 : 2021.10.04
	 StaticsDAO에서 사용하는 mapper
-->
  
  
  <mapper namespace="com.spring.Creamy_CRM.Host_dao.StaticsDAO">
  
  	<!-- 예약요청 갯수 조회 [예시]
	<select id="getRequestCnt" resultType="int">
	 		SELECT COUNT(*)
	 		  FROM reservation_tbl
 	</select> -->
 	
 	
 	<!-- host_code를 이용한 employee_code 가져오기 -->
  	<select id="getEmpCode" parameterType="String" resultType="String">
		SELECT employee_code
		  FROM employee_tbl
		 WHERE host_code = #{host_code}
	</select>
 	
 	<!-- 직원(담당자)별 판매정보 목록 조회 -->
	<select id="managerSalesList" parameterType="String" resultType="com.spring.Creamy_CRM.VO.StaticVO">	 
	SELECT r.employee_code, e.employee_name, r.res_state, r.res_date, e.position
         , COUNT(r.res_code) OVER(PARTITION BY r.res_code) AS "salesCount"
         , SUM(rdt.res_sales) OVER(PARTITION BY rdt.res_sales) AS "salesSum"
      FROM reservation_tbl r, host_tbl h, reservation_detail_tbl rdt, employee_tbl e
     WHERE h.host_code = r.host_code
       AND e.employee_code = r.employee_code
       AND rdt.res_detail_code = r.res_detail_code
       AND r.res_state = '서비스 완료'
       AND r.host_code = #{host_code}
  ORDER BY TO_NUMBER(SUBSTR(r.employee_code,2)) DESC
	</select>
	
	<!-- 직원(담당자)별 판매정보 차트 조회 -->
	<select id="managerSalesChart" parameterType="String" resultType="com.spring.Creamy_CRM.VO.StaticVO">	 
	SELECT r.employee_code, e.employee_name, TO_CHAR(r.res_date, 'YYYY-MM')as "res_dates", SUM(rdt.res_sales) AS "salesSum"
  FROM reservation_tbl r, reservation_detail_tbl rdt, employee_tbl e
WHERE r.res_detail_code = rdt.res_detail_code 
    AND r.employee_code = e.employee_code
    AND r.res_state = '서비스 완료'
    AND r.employee_code= #{employee_code}
GROUP BY r.employee_code, e.employee_name, TO_CHAR(r.res_date, 'YYYY-MM')
ORDER BY TO_NUMBER(SUBSTR(r.employee_code,2)) DESC
	</select>
  	
  
  </mapper>